---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

.logo-top {
	width: 700px;
	margin: 5px auto;
}

.song .song-title {
	text-align: center;
}

.song-content .chorus {
	font-weight: bold;
	margin-bottom: 55px;
}

.song-content {
	text-align: center;
}

.song-content .verse {
	margin-bottom: 55px;
}

.song-youtube-embed {
	margin: 50px auto;
	display: block;
}

.song-spotify-embed {
	display: block;
	margin: 25px auto;
}

.commentbox {
	display: block;
	margin: 10px auto;
}